* {
    margin: 0px;
    text-decoration: none;
    padding: 0px;

}

html, body {
    /*https://coolors.co/c8c8c8-dc965a-242325-006992-51cb20*/

    background-color: #C8C8C8;
    min-height: 100vh;


}

header {
    background-color: #242325;
    display: flex;
    justify-content: center;
    padding: 12px 0px 12px 0px;
}
.social-media a {
    color: #51CB20;
    font-size: 2.5vh;
    margin: 0px 8px 0px 0px;
    text-decoration: none;
    transition-duration: 0.2s;
    
}

.social-media a:hover {
    background-color: #242325;
    color: #50cb209c;
    
 
}

div.imp > img {
    width: 7.0vh;
    height: 7.0vh;
    

}

.imp {
    background-color: #006992; 
    display: flex;
    justify-content: center;
    padding: 0.5em;
    
}

main{
    background-color: white;
}

.banner-principal{
    height: 70vh;
    background-image: url('./imagens/fff.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    

}



.banner-principal p {
    font-size: 2.0em;
    
    margin: 10px;
    

}


.banner-principal .btn-whatsaap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    padding: 10px;
    background-color: green;
    height: fit-content;
    border-radius: 5px;
    transition-duration: 0.2s
}





.banner-principal .btn-whatsaap i {
    margin: 10px 12px 10px 0px;
    color: white;
    
    transition-duration: 0.2s;
    text-decoration: none;
    font-size: 2.0em;

}



.banner-principal .btn-whatsaap p {
   
    
    color: white;
}

.container-players {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    
    
}

div > .player > img {
    width: 20.0vh;
    height: 20.0vh;
}



.container-players .player {
    margin: 0px 30px 0px 30px;
}

.container-players .player:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all .3s ease-in;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
    z-index: 9;

}

.container-players .player p {
    font-size: 2.5rem;
}

footer {
    display: flex;
    color: #51CB20;
    background-color: #242325;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

main > div > h1 {
    font-size: 3em;
}











