@charset "UTF-8";
/*https://coolors.co/c8c8c8-dc965a-242325-006992-51cb20*/
* {
    margin: 0px;
    text-decoration: none;
    padding: 0px;

}

body, html {
    height: 100vh;
    width: 100vw;
}

header {
    background-color:#242325 ;
    height: 3vh;
    display: flex;
    justify-content: center;
    padding: 12px 0px 12px 0px;
}

header > div.social-media > a {
    color: #51CB20;
    font-size: 3vh;
    margin: 0px 8px 0px 0px;
    text-decoration: none;
    transition-duration: 0.2s;
}

div.social-media > a:hover {
    background-color: #242325;
    color: #50cb209c;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
    

}





div.banner-principal {
    
    
    width: 100vw;
    height: 70vh;
    background: url(../imagens/fff.jpg) center, top ;
    background-size: cover;
    background-attachment: fixed;
    
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
}




div.banner-principal > h1 {
    margin-top: 300px;
    
    
    
    color: white;
    font-size: 2.0em;
    
}

div.banner-principal > p {
    margin: 0px;
    
    
    color: white;
    font-size: 2.0em;
    
}



.banner-principal  .btn-whatsaap {
   
    justify-content: center;
    align-items: center;
    flex-direction: center;
    padding: 20px;
    background-color: green;
    
    
    border-radius:30px;
    transition-duration: 0.2s;
    

}
.banner-principal .btn-whatsaap i {
    margin: 10px 12px 10px 0px;
    color: white;
    
    transition-duration: 0.2s;
    
    font-size: 2.2em;
    

}